{% extends "base.html" %}
{% block title %}{{post.slug}}{% endblock title %}
{% block activeblog %}active{% endblock activeblog %}
{% block body %}
<div class="container-fluid">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">Blog by {{post.author}}</h3>
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1">{{post.title}}</h2>
      <p class="blog-post-meta">{{post.timestamp}}</p>
    </article>
  </div>
  <div>
    <p>{{post.content}}<p>
  </div>
</div>
{% endblock body %}